<header>
  <div class="header-nav">
    <a href="/">Express</a>
    <p>ようこそ、<%= locals.username %>さん</p>
    <ul>
      <li><a href="/list">コンテンツ一覧</a></li>
      <li><a href="/logout">ログアウト</a></li>
    </ul>
  </div>
  <p>content</p>
</header>
