<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Express</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="wrapper">
        <div class="content">
          <h2>Express</h2>
          <h1><img src="/images/top-logo.svg" alt="" /></h1>
          <p><br /></p>
          <a class="btn" href="/login">ログインはこちら</a>
          <footer><p>©︎ 2022 xxxx Co.,Ltd</p></footer>
        </div>
        <img class="image" src="/images/top.svg" alt="" />
      </div>
    </div>
  </body>
</html>
